<div class="menubar-pane">
  <div class="content"></div>
</div>

<div class="dashboard-pane"></div>

<div class="workspace-overlay"/>
<div class="help-dialog modal hide"/>

<div style="display:none"
     class="alert alert-warning context-menu-warning">
<button type="button" class="close" data-dismiss="alert">×</button>
<%= i18n('contextmenu.blocked') %>
</div> 
