<div class="addHighlightPopover popover top">
  <div class="popover-title">
    {{ i18n 'popovers.add_highlight.title' title}}
  </div>
  <div class="arrow"></div>
  <div class="popover-content">
    <div class="errors"></div>

    <div class="concept"></div>
    <div class="relationship"></div>

    <button style="display:none" class="btn search">{{ i18n 'popovers.add_related.button.search' }}</button>
    <!--button style="display:none" class="btn btn-primary prompt-add">{{ i18n 'popovers.add_related.button.add' }}</button-->
    <button class="btn btn-primary add">{{ i18n 'popovers.add_highlight.button.add' }}</button>
    <button style="display:none" class="btn btn-danger cancel">{{ i18n 'popovers.add_related.button.cancel' }}</button>
  </div>
</div>

