<!DOCTYPE html>
<html lang="en">
<head>
    <title>Milliseconds</title>
    <meta charset="utf-8">
    <meta name="description" content="TimelineJS Embed">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="./libs/simplemde/dist/simplemde.min.css">
    <link rel="stylesheet" href="./libs/simplemde/dist/fontawesome-all.min.css">
</head>
<body>
<textarea id="editor"></textarea>
<!-- JavaScript-->
<script src="./libs/simplemde/dist/simplemde.min.js"></script>
<script src="./libs/json2md/dist/json2md.min.js"></script>
<script>

        json2md.converters.reportTitle = function (input, json2md) {
          return "<h1 align = 'center'>" + input + "</h1>";
        }

        json2md.converters.reportAuthor = function (input, json2md) {
          return "<p align = 'center'>" + input + "</p>";
        }

        json2md.converters.reportDate = function (input, json2md) {
          return "<p align = 'center'>" + input + "</p>";
        }
        var wData;


        function getDummyReport(){
          var mdEvents = [];
          mdEvents.push({reportTitle: 'Demo Report'});
          mdEvents.push({reportAuthor: 'Authored by: Demo User'});
          mdEvents.push({reportDate: 'Created on: January 1, 2100'});
          var demoSummary = "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat";
          mdEvents.push({p: demoSummary});
          mdEvents.push({h2: "Key Takeaways"});
          mdEvents.push({ol: ["Point number 1", "Point number 2", "Point number 3"]});
          mdEvents.push({h3: "Point number 1"});
          mdEvents.push({p: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Donec elementum ligula eu sapien consequat"});
          mdEvents.push({h3: "Point number 2"});
          mdEvents.push({p: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Donec elementum ligula eu sapien consequat"});
          mdEvents.push({h3: "Point number 3"});
          mdEvents.push({p: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Donec elementum ligula eu sapien consequat"});
          mdEvents.push({h2: "References"});
          mdEvents.push({ol: ["[Reference 1](www.google.com)","[Reference 2](www.example.com)" ]});
          return mdEvents;
        }

        function takeaways(edges){
          var tEvents = [], entity1C ="", entity1T = "", entity2C = "", entity2T = "";
          for (var ei = 0, elen = edges.length; ei < elen; ei++){
            var edge = edges[ei];
            label = edge.label.split("#")[1];
            sourceV = edge.sourceVertexId;
            destV = edge.destVertexId;
            for (var vi = 0, vlen = vData.vertices.length; vi < vlen; vi++) {
              var vertex = vData.vertices[vi];
              if (vertex.id == sourceV){
                for (var pi = 0, plen = vertex.properties.length; pi < plen; pi++) {
                  var property = vertex.properties[pi];
                  if (property.name =="http://neo.io#conceptType"){
                    entity1C = property.value;
                  }
                  else if (property.name =="http://neo.io#title"){
                    entity1T = property.value;
                  }
                }
              }

              else if (vertex.id == destV){
                for (var pi = 0, plen = vertex.properties.length; pi < plen; pi++) {
                  var property = vertex.properties[pi];
                  if (property.name =="http://neo.io#conceptType"){
                    entity2C = property.value;
                  }
                  else if (property.name =="http://neo.io#title"){
                    entity2T = property.value;
                  }
                }
              }
            }
            heading = "**"+entity1T+" "+label+" "+entity2T+"**";
            tEvents.push(heading);
          }
          return {ol: tEvents};
        }

        function profilesReport(vertices){
          var pEvents = [];
          for (var vi = 0, vlen = vertices.length; vi < vlen; vi++) {
            var vertex = vertices[vi];
            var title = "", concept = "", description = "", comment = "", bio = [], imageURL = "";
            for (var pi = 0, plen = vertex.properties.length; pi < plen; pi++) {
              var property = vertex.properties[pi];
              switch(property.name){
                case "http://neo.io#title":
                  title = property.value;
                  //if (property.metadata.http://neo.io#justification)
                  //{
                  //  description += property.metadata.http://neo.io#justification.justificationText;
                  //}
                break;
                case "http://neo.io#conceptType":
                  concept = property.value.split("#")[1];
                break;
                case "http://neo.io#justification":
                  justification = property.value.justificationText;
                  description = justification + ". " + description;
                break;
                case "http://neo.io#entityImageVertexId":
                  //insert this image above the bio
                  var vertexID = property.value;
                  imageURL = "/vertex/thumbnail?workspaceId="+workspaceId+"&graphVertexId="+vertexID+"&width=500";
                break;
                case "http://neo.io#confidence":
                break;
                case "http://neo.io#contentHash":
                break;
                case "http://neo.io#audio-mp3":
                break;
                case "http://neo.io#createDate":
                break;
                case "http://neo.io#displayName": break;
                case "http://neo.io#entityImageUrl":
                // this might be needed to add image
                break;
                case "http://neo.io#fileName": break;
                case "http://neo.io#fileNameExtension": break;
                case "http://neo.io#graphPropertyWorkerBlackList":
                break;
                case "http://neo.io#graphPropertyWorkerWhiteList":
                break;
                case "http://neo.io#mappingJson":
                break;
                case "http://neo.io#metadataJson":
                break;
                case "http://neo.io#mimeType":
                break;
                case "http://neo.io#modifiedBy":
                break;
                case "http://neo.io#modifiedDate":
                break;
                case "http://neo.io#ontologyTitle":
                break;
                case "http://neo.io#process": break;
                case "http://neo.io#publishedDate": break;
                case "http://neo.io#raw": break;
                case "http://neo.io#rawPosterFrame": break;
                case "http://neo.io#rowKey": break;
                case "http://neo.io#source":
                //might want to add this
                break;
                case "http://neo.io#sourceUrl": break;
                case "http://neo.io#text": break;
                case "http://neo.io#video-mp4": break;
                case "http://neo.io#video-webm": break;
                case "http://neo.io#videoFrame": break;
                case "http://neo.io#videoPreviewImage": break;
                case "http://neo.io#visibilityJson": break;
                case "http://neo.io#visibilitySource": break;
                case "http://neo.io/comment#entry":
                // add this to description
                comment = property.value;
                description = description + ". " + comment;
                break;
                case "http://neo.io/workspace#access": break;
                case "http://neo.io/workspace#creator": break;
                case "http://neo.io/workspace#graphPositionX": break;
                case "http://neo.io/workspace#graphPositionY": break;
                case "http://neo.io/workspace#visible": break;
                //Add default case to allow adding other properties
                default:
                    var label = property.name.split("#")[1];
                    if (typeof(property.value)=='string'){
                      prop = {p : "**" + label + "**: "+ property.value};
                    }
                    else {
                      valueString = JSON.stringify(property.value);
                      prop = {p : "**" + label + "**: "+ valueString};
                    }
                    bio.push(prop);
                break;
              }
            }
          if (!title)
            {
              title = "Title yet unknown";
            }
          heading = {h3: concept+": "+title};
          pEvents.push(heading);
          console.log("this Url should get added to the report"+imageURL);
          if(imageURL){
            pEvents.push({ img: {title: "image", source: imageURL}});
          }
          pEvents.push(bio);
          pEvents.push(description);
          }
          return pEvents;
        }

        function referencesReport(vertices){
          var rEvents = [];
          for (var vi = 0, vlen = vertices.length; vi < vlen; vi++) {
            var vertex = vertices[vi];
            var title = "", concept = "", textExtract = {}, imageURL = "";
            for (var pi = 0, plen = vertex.properties.length; pi < plen; pi++){
              var property = vertex.properties[pi];
              switch(property.name){
                case "http://neo.io#title":
                  title = property.value;
                  //if (property.metadata.http://neo.io#justification)
                  //{
                  //  description += property.metadata.http://neo.io#justification.justificationText;
                  //}
                break;

                case "http://neo.io#conceptType":
                  concept = property.value.split("#")[1];
                  if (concept == 'image'){
                    imageURL = "/vertex/thumbnail?workspaceId="+workspaceId+"&graphVertexId="+vertex.id+"&width=500";
                  }
                break;

                case "http://neo.io#entityImageVertexId":
                  //insert this image above the bio
                  //var vertexID = property.value;
                  //var imageURL = "/vertex/thumbnail?workspaceId="+workspaceId+"&graphVertexId="+vertexID+"&width=500";
                break;

                case "http://neo.io#text":
                    console.log("At least this should say sample text.")
                    key = property.key;
                    textUrl = "/vertex/highlighted-text?graphVertexId="+vertex.id+"&propertyKey="+key;
                    //fetch(textUrl,{credentials:"same-origin"}).then(function(response){
                        //put the text in a p tag
                        //include the p tag in the array for that vertex
                      //  return response.text();
                      //  })
                      //  .then(function(key){
                      //    console.log("this is so amazing it's stupid"+key);
                      //    textExtract = {p: "**Extracted Information: ** "};
                      //    console.log("This should say sample text"+ textExtract);
                      //  })
                   // .catch(error => console.error(error));
                break;
              }
            }
            //push all the extracted pieces into the array for this vertex
            if (!title)
            {
              title = "Title yet unknown";
            }
            heading = {h3: concept+": "+title};
            rEvents.push(heading);
            if(imageURL){
              rEvents.push({ img: {title: "image", source: imageURL}});
            }
            //console.log("where is this text?" + textExtract.stringify);
            //rEvents.push(textExtract);
          }
          return rEvents;
        }

        //var vertices = {"vertices":[]};
        //var reportData = {};
        var author = "";
        var takeAwaysList = {}, profilesArray = [], referencesArray = [];
        var workspaceId = "", eData = {}, vData = {};
        // Pull all vertices and edges in the beginning
        fetch('/user/me',{credentials: "same-origin"})
          .then(function(response){
            return response.json();
          })
          .then(function(data){
            console.log(data);
            author = data.displayName;
            if(data.currentWorkspaceId){
              workspaceId = data.currentWorkspaceId;
              var verticesUrl = '/workspace/vertices?workspaceId=' + data.currentWorkspaceId;
              fetch(verticesUrl,{credentials:"same-origin"})
                .then(function(vResponse){
                  //vData = vResponse.json();
                  return vResponse.json();
                })
                .then(function(res){
                  console.log(res);
                  vData = res;
                  var edgesUrl = '/workspace/edges?workspaceId=' + workspaceId;
                  fetch(edgesUrl,{credentials:"same-origin"})
                  .then(function(response){
                    //eData = response.json();
                    return response.json();
                  })
                  .then(function(res){
                    console.log(res);
                    eData = res;
                    var findings = [];
          //vData = contents[0];
          //eData = contents[1];
          console.log("King is alive"+eData);
          console.log("Queen is alive"+vData);
          for (var ei = 0, elen = eData.edges.length; ei < elen; ei++) {
            var edge = eData.edges[ei];
            labelToReport = edge.label.split("#")[1];
            console.log("check this: "+labelToReport);
            if (labelToReport !="rawHasEntity" && labelToReport !="rawContainsImageOfEntity" && labelToReport != "entityHasImageRaw")
            {
              console.log("user generated edges exist");
              // add these edges to an array
              findings.push(edge);
            }
          }
          // if the findings array is not null, then call function to create report content from edges
          if(findings.length){
            takeAwaysList = takeaways(findings);
            console.log("so much pollution"+takeAwaysList);
          }

        var references = [], profiles = [];
          for (var vi = 0, vlen = vData.vertices.length; vi < vlen; vi++) {
            var vertex = vData.vertices[vi];
            var isReference = false;
            //identify if the vertex represents a raw document or some other entity
            for (var pi = 0, plen = vertex.properties.length; pi < plen; pi++) {
              var property = vertex.properties[pi];
              if (property.name =="http://neo.io#raw")
              {
                //then this vertex is a raw document, add this to the references array
                isReference = true;
              }
            }
            // collect all raw documents and non-raw documents into two separate arrays.
            if (isReference)
            {
              references.push(vertex);
            }
            else
            {
              profiles.push(vertex);
            }
          }
          // if the profiles array is not null, then call function to add profiles to report
          if(profiles.length){
            profilesArray = profilesReport(profiles);
            console.log('this is the point that should have appeared in the log'+profilesArray);
          }
          // if the references array is not null, then call function to add references to report
          if(references.length)
          {
            referencesArray = referencesReport(references);
            console.log('this is the point that should have appeared in the log'+referencesArray);
          }
        // Add profiles of entities and summaries of raw documents to the report

        console.log('cute profiles'+profilesArray);
        console.log('cute references'+referencesArray);
        var reportdate = new Date();
        var reportData = [{reportTitle: 'Report for Investigation #: '+ workspaceId.substring(12,17)},
                          {reportAuthor: 'Authored by: '+author},
                          {reportDate: 'Created on: '+ reportdate},
                          {p: 'This report provides a summary of the key findings of an investigation by the author. The findings are mentioned first. A short description by the author provides context for the findings. The profiles of different agencies or people being investigated are present after the findings. Finally, the documents which provided the information are referenced in the later part of the report.'}];
        if (takeAwaysList.ol){
          reportData = reportData.concat([{h2: 'Key Take Aways'}]).concat([takeAwaysList]);
        }

        if(profilesArray){
          reportData = reportData.concat([{h2: 'Key Profiles'}]).concat(profilesArray)
        }

        if(referencesArray){
          reportData = reportData.concat([{h2: 'Key References'}]).concat(referencesArray);
        }

        console.log(reportData);
        var editorText = json2md(reportData);
        var simplemde = new SimpleMDE({ element: document.getElementById("editor") });
        simplemde.value(editorText);
                  })
                  .catch(error => console.error(error));
                }).catch(error => console.error(error));
            }
          }).catch(error => console.error(error));
          // check if user-created relationships exist and if yes, then add them to report

    </script>
</body>
</html>
