<!DOCTYPE html>
<html lang="en">
<head>
    <title>Milliseconds</title>
    <meta charset="utf-8">
    <meta name="description" content="TimelineJS Embed">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <!-- CSS-->
    <link rel="stylesheet" href="./libs/timelinejs3/compiled/css/timeline.css">
    <!-- Style-->
    <style>
      html, body {
      	height:100%;
      	width:100%;
      	padding: 0px;
      	margin: 0px;
      }
      .tl-timeline {

      }

    </style>
    <!-- HTML5 shim, for IE6-8 support of HTML elements-->
    <!--if lt IE 9
    script(src='https://html5shim.googlecode.com/svn/trunk/html5.js')

    -->
</head>
<body>
<div id="timeline"></div>
<!-- JavaScript-->
<script src="./libs/timelinejs3/compiled/js/timeline-min.js"></script>
<script>
      function setEventProperty(event, propertyName, propertyValue, workspaceId, vertexId) {
        switch(propertyName) {
          case "http://neo.io/dev#date":
            var date = new Date(parseInt(propertyValue));
            event["start_date"] = {
                "year": date.getFullYear(),
                "month": date.getMonth(),
                "day": date.getDate(),
                "hour": date.getHours(),
                "minute": date.getMinutes(),
                "second": date.getSeconds(),
                "millisecond": date.getMilliseconds(),
                "format": ""
            };
            break;
          case "http://neo.io/dev#geolocation":
            event["location"] = {
                "icon": "http://maps.gstatic.com/intl/en_us/mapfiles/ms/micons/blue-pushpin.png",
                "lat": propertyValue.latitude,
                "line": true,
                "lon": propertyValue.longitude,
                "name": propertyValue.description,
                "zoom": 12
            };
            break;
          case "http://neo.io#entityImageVertexId":
            event["media"] = {
                "caption": "",
                "credit": "",
                "url": "https://neo.loopback.online/vertex/thumbnail?workspaceId=" + workspaceId + "&graphVertexId=" + propertyValue + "&width=600",
                "link": ""
            };
            break;
          case "http://neo.io#mimeType":
            if(propertyValue.startsWith("image")) {
              event["media"] = {
                  "caption": "",
                  "credit": "",
                  "url": "https://neo.loopback.online/vertex/thumbnail?workspaceId=" + workspaceId + "&graphVertexId=" + propertyValue + "&width=600",
                  "link": ""
              };
            }
            break;
          case "http://neo.io#title":
            if(!event["text"]) {
              event["text"] = {"headline": "", "text": ""};
            }
            event["text"]["headline"] = propertyValue;
            break;
          case "http://neo.io/comment#entry":
            if(!event["text"]) {
              event["text"] = {"headline": "", "text": ""};
            }
            event["text"]["text"] += propertyValue + "<br/>";
            break;
        }

        return event;
      }

      function getTimelineData(data, workspaceId) {
        var events = [];
        for (var vi = 0, vlen = data.vertices.length; vi < vlen; vi++) {
            var vertex = data.vertices[vi];
            var today = new Date();
            var h = 0;
            var event = {
            "start_date": {
                "year": today.getFullYear(),
                "month": today.getMonth(),
                "day": today.getDate(),
                "hour": today.getHours(),
                "minute": today.getMinutes(),
                "second": today.getSeconds(),
                "millisecond": today.getMilliseconds(),
                "format": ""
              },
               "background": {
                "color": "#999999",
                "opacity": 50,
                "url": null
              }
            };
            for (var pi = 0, plen = vertex.properties.length; pi < plen; pi++) {
              var property = vertex.properties[pi];
              event = setEventProperty(event, property.name, property.value, workspaceId, vertex.id);
            }
            events.push(event);
        }

        var data = {"events" : events};
        return data;
      }

      var vertices = {"vertices":[]};
      var timelineData = {};

      fetch('https://neo.loopback.online/user/me', {credentials: "same-origin"})
        .then(function(response) {
          return response.json();
        })
        .then(function(data) {
          if(data.currentWorkspaceId) {
            var verticesUrl = '/workspace/vertices?workspaceId=' + data.currentWorkspaceId;
            fetch(verticesUrl, {credentials: "same-origin"})
              .then(function(vResponse) {
                return vResponse.json();
              })
              .then(function(vData) {
                timelineData = getTimelineData(vData, data.currentWorkspaceId);
                console.log(timelineData);
                var timeline = new TL.Timeline('timeline', timelineData, {
                  ga_property_id: "UA-27829802-4"
                });
              })
              .catch(error => console.error(error));
          }
        })
        .catch(error => console.error(error));
    </script>
</body>
</html>