<ul class="menu-top">
  <li class="dashboard"><a><%= i18n('menubar.icons.dashboard') %></a></li>

  <li class="divider"></li>

</ul>

<ul class="menu-bottom">

  <li class="logout"><a><%= i18n('menubar.icons.logout') %></a></li>
</ul>
